In [2]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import pandas as pd
import numpy as np

In [3]:
engine=create_engine(
    "mssql+pyodbc://DESKTOP-R5LFETM\SQLEXPRESS/Customers?driver=ODBC+Driver+17+for+SQl+Server&trusted_connection=yes"
)

In [4]:
df=pd.read_csv(r'C:\Users\Krishna\Desktop\Python\SSMS\us_customer_data.csv')
df=df.drop('Unnamed: 0',axis=1)

In [5]:
df=df.head(10)
df['status']='Active'

In [6]:
df.to_sql('customer_scd2.1',engine,if_exists='replace',index=False)

10

In [8]:
df.head(1)

,customer_id,name,email,phone,address,registration_date,loyalty_status,code,status
0,1,Michelle Kidd,vayala@example.net,+971 6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,971,Active

In [ ]:
id=int(input('enter id'))
name=input("enter name")
mail=input('enter mail')
phone=input('enter phone number') 
add=input('enter address')
reg_date=input('enter the reg date')
loyal=input('enter the status')
code=input('enter the code')
status=input('enter the status')

In [10]:
condition=df['customer_id']==id

In [11]:
df.loc[condition,'status']='inactive'

In [13]:
df.head(1)

,customer_id,name,email,phone,address,registration_date,loyalty_status,code,status
0,1,Michelle Kidd,vayala@example.net,+971 6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,971,inactive

In [14]:
df.loc[len(df)]=[id,name,mail,phone,add,reg_date,loyal,code,status]

In [15]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,code,status
0,1,Michelle Kidd,vayala@example.net,+971 6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,971,inactive
1,2,Brad Newton,taylorcatherine@example.net,+356 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,356,Active
2,3,Larry Torres,dsanchez@example.net,+1 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,1,Active
3,4,Kimberly Price,jessicaknight@example.com,+1 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,1,Active
4,5,Matthew Phillips,qwilliams@example.com,+1 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,1,Active
5,6,Darrell Gallagher DVM,larryharris@example.org,+212 3799503695,"19887 Brandon Bridge, New Rebecca, MA 94947",2025-03-03,Bronze,212,Active
6,7,Louis Miller,patriciaelliott@example.org,+1 1988627105,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,1,Active
7,8,Melissa Galloway MD,watsonbenjamin@example.net,+687 5485499586,"209 Steven Oval Apt. 022, Mollyhaven, NC 10211",2023-10-06,Bronze,687,Active
8,9,Matthew Harvey,bgaines@example.net,+1 5811447338,"60123 Davis Ford, Mistychester, WA 69400",2024-10-31,Silver,1,Active
9,10,Rachel White,whitemichael@example.org,+972 4107299740,"6182 Brown Mountain, South Gary, IL 29016",2024-02-25,Bronze,972,Active
10,1,Michelle Kidd,vayala@example.net,+971 6197234258,Mindspace 3B,2025-01-25,Gold,971,Active

In [16]:
df.to_sql('customer_scd2.1',engine,if_exists='replace',index=False)

11