In [1]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import pandas as pd
import numpy as np

In [ ]:
engine=create_engine(
    "mssql+pyodbc://DESKTOP-R5LFETM\SQLEXPRESS/Customers?driver=ODBC+Driver+17+for+SQl+Server&trusted_connection=yes"
)

In [3]:
df=pd.read_csv(r'C:\Users\Krishna\Desktop\Python\SSMS\us_customer_data.csv')
df=df.drop('Unnamed: 0',axis=1)

In [4]:
df=df.head(10)
df['status']='Active'

In [5]:
df.to_sql('customer_scd2',engine,if_exists='replace',index=False)

10

In [6]:
id=int(input('enter the ID'))
add=input("add new address")

In [7]:
df1=pd.read_sql(f'select * from customer_scd2 where customer_id={id}',engine)

In [8]:
df1

,customer_id,name,email,phone,address,registration_date,loyalty_status,code,status
0,2,Brad Newton,taylorcatherine@example.net,+356 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,356,Active

In [9]:
query=f''' 
update customer_scd2 set status='deactivated' where customer_id={id}
'''

In [10]:
with engine.connect() as conn:
    conn.execute(text(query))
    conn.commit()

In [11]:
row=df1.iloc[0]
row

customer_id                                                          2
name                                                       Brad Newton
email                                      taylorcatherine@example.net
phone                                                  +356 5376741158
address              38783 Oliver Street, West Kristenborough, MT 9...
registration_date                                           2023-07-13
loyalty_status                                                  Silver
code                                                               356
status                                                          Active
Name: 0, dtype: object

In [14]:
query2=f''' 
insert into customer_scd2 values({row['customer_id']},'{row['name']}','{row['email']}','{row['phone']}','{add}','{row['registration_date']}','{row['loyalty_status']}','{row['code']}','{row['status']}')
'''

In [15]:
with engine.connect() as conn:
    conn.execute(text(query2))
    conn.commit()